
<footer class="red sk-footer" >
		<div class="ui container" >
			<a href = "" class="item" > Logowanie</a >
			<a href = "" class="item" > FAQ</a >
			<a href = "" class="item" > Pomoc</a >
			<a href = "" class="item" > Zgłoś naduzycie </a >
			<a href = "" class="item" > Kontakt</a >
		</div >
</footer >

<script>
    $(document) . ready(function () {
        $('.checkbox') . checkbox();
    });
    $('.sticky') . sticky();
</script>