
<div class="sk-top" id="top-header">
		<div class="ui blue inverted segment sticky">
			<div class="ui blue inverted menu">
				<div class="ui container">
	  				<a class="item" href="index.php">Start</a>
	  				<a class="item" href="catalog.php">Katalog</a>
	  				<a class="item" href="users.php">Użytkownicy</a>
	  				<a class="item">Portfolio</a>
	  				<a class="item">Wyloguj</a>
				</div>
			</div>
		</div>
</div>
